@use 'ag-grid-community/styles/ag-grid.css'; // Core CSS
@use 'ag-grid-community/styles/ag-theme-quartz.css'; // Theme

body {
  margin: 0;
}

.budget-grid-container {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;

  .budget-grid-controls {
    display: flex;
    flex-direction: row;
  }

  .budget-grid-control {
    margin: 0.375rem;
  }
}

@media (min-width: 450px) {
  .budget-grid-container {
    flex-direction: row;

    .budget-grid-controls {
      flex-direction: column;
    }
  }
}
